<%= form_with(model: equipamento, local: true) do |form| %>
  <% if equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h2>

      <ul>
        <% equipamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col m6">
      <%= form.label :tipo_equipamento_id %>
      <%= form.collection_select :tipo_equipamento_id, @tipos, :id, :nome, {prompt: '-- Selecione --'}, {class: "browser-default"} %>
    </div>
    <div class="col m3">
      <%= form.label :classificacao %>
      <%= form.select :classificacao, @classificacoes, {:prompt => '-- Selecione --'}, {class: 'browser-default'} %>
    </div>
    <div class="col m3">
      <%= form.label :flag_classificacao %>
      <%= form.select :flag_classificacao, @flags_classificacao, {:prompt => '-- Selecione --'}, {class: 'browser-default'} %>
    </div>
  </div>

  <br>
  <br>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :identificacao %>
    <%= form.text_field :identificacao %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :mac %>
    <%= form.text_field :mac %>
  </div>

  <div class="field">
    <%= form.label :geolocalizacao %>
    <%= form.text_field :geolocalizacao %>
  </div>

  <button type="button" class="modal-trigger" href="#modal1">Salvar</button>

  <div id="modal1" class="modal col m6">
    <div class="modal-content">
      <h4>Deseja autorizar o equipamento cadastrado?</h4>
    </div>
    <div class="modal-footer">
      <div class="row center" style="height: 100%; overflow-y: hidden; overflow-x: hidden; width: inherit;">
        <%= form.button 'Sim', name: :autorizar, value: 'true', class: 'btn' %>
        <%= form.button 'Agora não', name: :autorizar, value: 'false', class: 'btn' %>
      </div>
    </div>
  </div>

<% end %>