<%= form_for @equipamento, method: :put do |form| %>
  <% if @equipamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipamento.errors.count, "error") %> prohibited this equipamento from being saved:</h2>

      <ul>
        <% @equipamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <h5 class="center">Autorizaçao do equipamento: <%= @equipamento.nome.truncate(45) %></h5>
  </div>

  <div class="row">
    <div class="col m3">
      <fieldset>
        <h6>Servidor responsável</h6>
      </fieldset>
    </div>
    <div class="col m3">
      <fieldset>
        <h6>Lotação do servidor responsável</h6>
      </fieldset>
    </div>

    <div class="col m3">
      <div class="field">
        <fieldset>
          <%= form.label :data_inicio %>
          <%= form.datetime_select :data_inicio %>
        </fieldset>
      </div>
    </div>
    <div class="col m3">
      <div class="field">
        <fieldset>

          <%= form.label :data_fim %>
          <%= form.datetime_select :data_fim %>
        </fieldset>
      </div>
    </div>
  </div>

  <%= form.button 'Autorizar', class: 'btn', name: :autorizar, value: 'true' %>
  <%= link_to 'Cancelar', equipamentos_path, class: 'btn'%>
<% end %>
