<p id="notice"><%= notice %></p>

<h1>Equipamentos</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @equipamentos.each do |equipamento| %>
    <tr>
      <td><%= equipamento.nome %></td>
      <td><%= equipamento.status_text %></td>
      <td><%= link_to 'Visualizar', equipamento %></td>
      <% if equipamento.status.movimentado? %>
        <td><%= button_to 'Receber equipamento movimentado', '#' %></td>
      <% else %>
        <td><%= button_to '', '#' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


