<p id="notice"><%= notice %></p>

<h1>Equipamentos</h1>

<div class="right">
  <%= link_to 'Novo', new_equipamento_path %> <br>
  <%= link_to 'Monitorar (SECAD)', "#" %> <br>
  <%= link_to 'Movimentação de equipamentos', "#" %>
</div>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @equipamentos.each do |equipamento| %>
    <tr>
      <td><%= equipamento.nome %></td>
      <td><%= equipamento.status_text %></td>
      <td><%= link_to 'Visualizar', equipamento %></td>
      <% if equipamento.status.autorizado? %>
        <td><%= link_to 'Desaltorizar', '#' %></td>
      <% else %>
        <td><%= link_to 'Autorizar', equipamento_autorizar_path(equipamento), class: "inbox-sf-add-btn tip" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


