<p id="notice"><%= notice %></p>

<%# binding.pry %>
<fieldset>
  <h5 class="center">Equipamento</h5>
  <br>
  <p>
    <strong>Nome:</strong>
    <%= @equipamento.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= @equipamento.descricao %>
  </p>


  <p>
    <strong>Tipo equipamento:</strong>
    <%= @equipamento.tipo_equipamento.nil? ? '' : @equipamento.tipo_equipamento.nome %>
  </p>

  <p>
    <strong>Classificacao:</strong>
    <%= @equipamento.classificacao %>
  </p>

  <p>
    <strong>Flag classificacao:</strong>
    <%= @equipamento.flag_classificacao %>
  </p>

  <p>
    <strong>Identificacao:</strong>
    <%= @equipamento.identificacao %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= @equipamento.ip %>
  </p>

  <p>
    <strong>Mac:</strong>
    <%= @equipamento.mac %>
  </p>

  <p>
    <strong>Geolocalizacao:</strong>
    <%= @equipamento.geolocalizacao %>
  </p>
</fieldset>
<br>

<%# if @equipamento.status.autorizado? %>

  <fieldset>
    <h5 class="center">Autorizaçao</h5>
    <br>
    <div class="row">
      <div class="col m6">
        <p>
          <strong>Status:</strong>
          <%= @equipamento.status_text %>
          <% if @equipamento.status.autorizado? %>
            <%= link_to 'Alterar autorização', '#' %>
          <% elsif @equipamento.status.nao_autorizado? %>
            <%= link_to 'Autorizar', '#' %>
          <% end %>
        </p>


      </div>
      <% if @equipamento.status.autorizado? %>
        <div class="col m6">
          <p>
            <strong>Data inicio:</strong>
            <%= @equipamento.data_inicio %>
          </p>

          <p>
            <strong>Data fim:</strong>
            <%= @equipamento.data_fim %>
          </p>
        </div>
      <% end %>
    </div>

  </fieldset>
<%# end %>

<%= link_to 'Alterar', edit_equipamento_path(@equipamento) %> |
<%= link_to 'Voltar', equipamentos_path %>
