<%= form_with(model: tipo_equipamento, local: true) do |form| %>
  <% if tipo_equipamento.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(tipo_equipamento.errors.count, "error") %> prohibited this tipo_equipamento from being saved:</h2>-->

      <ul>
      <% tipo_equipamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
