<h1>Editing Tipo Equipamento</h1>

<%= render 'form', tipo_equipamento: @tipo_equipamento %>

<%= link_to 'Mostrar', @tipo_equipamento, class: 'btn' %> |
<%= link_to 'Cancelar', tipo_equipamentos_path, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn' %>
