<p id="notice"><%= notice %></p>

<h1>Tipo Equipamentos</h1>


<% if @tipo_equipamentos.length == 0 %>
  <h2>Não existem registros cadastrados</h2>
<% else %>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Registro</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tipo_equipamentos.each do |tipo_equipamento| %>
        <tr>
          <td><%= tipo_equipamento.nome %></td>
          <td><%= tipo_equipamento.created_at.strftime('%d/%m/%Y') %></td>
          <td><%= link_to 'Visualizar', tipo_equipamento, class: 'btn' %></td>
          <td><%= link_to 'Alterar', edit_tipo_equipamento_path(tipo_equipamento), class: 'btn' %></td>
          <td><%= link_to 'Excluir', tipo_equipamento, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<%= link_to 'Cadastrar tipo de equipamento', new_tipo_equipamento_path, class: 'btn' %>
