<h1>New Tipo Equipamento</h1>

<%= render 'form', tipo_equipamento: @tipo_equipamento %>

<%= link_to 'Voltar', tipo_equipamentos_path, class:"btn", data: { confirm: "Tem certeza que deseja voltar sem salvar?"} %>
