<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_equipamento.nome %>
</p>

<%= link_to 'Editar', edit_tipo_equipamento_path(@tipo_equipamento), class: 'btn' %> |
<%= link_to 'Voltar', tipo_equipamentos_path, class: 'btn' %>
