<%= form_with(model: tipo_documento, local: true) do |form| %>
  <% if tipo_documento.errors.any? %>
    <div id="error_explanation">
      <!-- <%# <h2><%= pluralize(tipo_documento.errors.count, "error") %> prohibited this tipo_documento from being saved:</h2> %> -->

      <ul>
      <% tipo_documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">  
    <%= form.check_box :ativo %>
    <%= form.label :ativo %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar",  class:"btn" %>
  </div>
<% end %>

<% link_to 'Cancelar', tipo_documentos_path %>

