<p id="notice"><%= notice %></p>

<h1>Registro de tipo de documento</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_documentos.each do |tipo_documento| %>
      <tr>
        <td><%= tipo_documento %></td>
        <td><%= tipo_documento.ativo == true ? "SIM" : "NÃO" %></td>
        <td><%= link_to 'Visualizar', tipo_documento, class:"btn"%></td>
        <td><%= link_to 'Alterar', edit_tipo_documento_path(tipo_documento), class:"btn" %></td>
        <td><%= link_to 'Excluir', tipo_documento, method: :delete, class:"btn", data: { confirm: "Tem certeza que deseja remover esse tipo de documento '#{tipo_documento.nome}'?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar tipo de documento', new_tipo_documento_path, class:"btn" %>
