<h1>Novo tipo de documento</h1>

<%= render 'form', tipo_documento: @tipo_documento %>

<%= link_to 'Cancelar', tipo_documentos_path, class:"btn", data: { confirm: "Tem certeza que deseja voltar sem salvar?"}%>