<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_documento.nome %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @tipo_documento.ativo %>
</p>

<%= link_to 'Editar', edit_tipo_documento_path(@tipo_documento), class:"btn" %> |
<%= link_to 'Voltar', tipo_documentos_path, class:"btn" %>
