<%= form_with(model: registroprazo, local: true) do |form| %>
  <% if registroprazo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registroprazo.errors.count, "error") %> prohibited this registroprazo from being saved:</h2>

      <ul>
      <% registroprazo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :contador %>
    <%= form.select :contador, ['Dia', 'Mês', 'Ano'] %>
  </div>

  <div class="field">
    <%= form.label :namespace %>
    <%= form.text_field :namespace %>
  </div>

  <div class="actions">
    <%= form.submit value: "Salvar", class: "waves-effect waves-light btn"%>
  </div>
<% end %>

<style type="text/css">
  .waves-button-input{
    margin-top: 14% !important;
  }
</style>
