<h1>Editing Registroprazo</h1>

<%= render 'form', registroprazo: @registroprazo %>

<%= link_to 'Show', @registroprazo, class: "waves-effect waves-light btn" %> |
<%= link_to 'Back', registroprazos_path, class: "waves-effect waves-light btn" %>
