<p id="notice"><%= notice %></p>

<h1>Prazos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Contador</th>
      <th>Namespace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registroprazos.each do |registroprazo| %>
      <tr>
        <td><%= registroprazo.nome %></td>
        <td><%= registroprazo.descricao %></td>
        <td><%= registroprazo.contador %></td>
        <td><%= registroprazo.namespace %></td>
        <td><%= link_to 'Show', registroprazo, class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Edit', edit_registroprazo_path(registroprazo), class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Destroy', registroprazo, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to icon('add'), new_registroprazo_path , class: "waves-effect waves-light btn", href:"prazos/novo"%>
