<p id="notice"><%= notice %></p>

 <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Novo Prazo</span>
	          	<p>
				  <strong>Nome:</strong>
				  <%= @registroprazo.nome %>
				</p>
				<p>
				  <strong>Descricao:</strong>
				  <%= @registroprazo.descricao %>
				</p>
				<p>
				  <strong>Contador:</strong>
				  <%= @registroprazo.contador %>
				</p>
				<p>
				  <strong>Namespace:</strong>
				  <%= @registroprazo.namespace %>
				</p>
        </div>
        <div class="card-action">

         	<%= link_to icon('edit'), edit_registroprazo_path(@registroprazo), class: "waves-effect waves-light btn" %> 
			<%= link_to icon('check'), registroprazos_path, class: "waves-effect waves-light btn" %>
        </div>
      </div>
    </div>
  </div>
           



