<aside id="left-sidebar-nav" class="no-print">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <%# if user_signed_in? %>

        <li class="user-details cyan darken-2">
          <div class="row">
            <div class="col col s4 m4 l4">
              <img src="/images/user.png" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col col s8 m8 l8">
              <ul id="profile-dropdown" class="dropdown-content">
                <li><a href="<%= destroy_user_session_path  %>" data-method="delete"><i class="mdi-hardware-keyboard-tab"></i> Sair</a>
                </li>
              </ul>
              <a class="btn-flat dropdown-button waves-effect waves-light profile-btn white-text" href="#" data-activates="profile-dropdown"><%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i></a>
              <p class="user-roal">Gestor</p>
            </div>
          </div>
        </li>
    <%# end %>
    <li class="bold">
      <a href="/" class="waves-effect waves-cyan">
        <i class="fa fa-home"></i> Início
      </a>
    </li>
    <%# if user_signed_in? %>
      <li class="bold">
        <a href="/devices" class="waves-effect waves-cyan">
          <i class="fa fa-wifi"></i> Dispositivos
        </a>
      </li>
      <li class="bold">
        <a href="/ads" class="waves-effect waves-cyan">
          <i class="fa fa-list"></i> Anúncios
        </a>
      </li>
    <%# end %>

  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only teal"><i class="mdi-navigation-menu"></i></a>
</aside>