<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="<%#= services_path %>" class="brand-logo darken-1">
        <!--        <img src="/materialize/images/logo/materialize-logo.png" alt="monitora logo">-->
        <span class="logo-text hide-on-med-and-down">SGF</span>
      </a>
      <a class="navbar-toggler">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li class="bold">
          <a href="/tipo_documentos" target="_self" >
            <i class="material-icons">home</i>
            <span class="nav-text">Tipo de Documentos</span>

          </a>
        </li>
        <li class="bold">
          <a href="/tipo_equipamentos" target="_self" >
            <i class="material-icons">home</i>
            <span class="nav-text">Tipo de Equipamentos</span>

          </a>
        </li>
        <li class="bold">
          <a href="/registroprazos" target="_self" >
            <i class="material-icons">home</i>
            <span class="nav-text">Tipo de Prazos</span>

          </a>
        </li>
        <li class="bold">
          <a href="/equipamentos" target="_self" >
            <i class="material-icons">home</i>
            <span class="nav-text">Equipamentos</span>

          </a>
        </li>

        <li class="bold">
          <a href="<%#= destroy_user_session_path %>">
            <i class="material-icons">exit_to_app</i>
            <span class="nav-text">Sair</span>

          </a>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->