<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <div class="header-search-wrapper hide-on-med-and-down sideNav-lock indigo-text  ">
          <div class="row">
            <div class="col s12 m6"></div>
            <div class="col s12 m6 right">
              <%# if current_user != nil %>
                <p class="right">
                  <%#= current_user.toauth_data[:name] %>  <%#= link_to 'SAIR', destroy_user_session_path, method: :delete, id: 'btn-sair', class: 'red-text no-ajaxify button-logoff', style: 'padding:10px' %>
                </p>
              <%# end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- END HEADER -->