<html lang="pt-br">
<!--================================================================================
Item Name: Materialize - Material Design Admin Template
Version: 4.0
Author: PIXINVENT
Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Este é o site da Agência Tocantinense de Tecnologia da Inovação">
  <%= csrf_meta_tags %>

  <!-- Fav Icon  -->
  <link rel="shortcut icon" href="/area-pub/images/logo-to.png">
  <!-- Site Title  -->
  <title>ATI - Agência Tocantinense de Tecnologia da Inovação</title>
  <!-- Vendor Bundle CSS -->
  <link rel="stylesheet" href="/area-pub/assets/css/vendor.bundle.css">
  <!-- Custom styles for this template -->
  <link href="/area-pub/assets/css/style.css?ver=131" rel="stylesheet">
  <link href="/area-pub/assets/css/theme-royel-teal.css?ver=131" rel="stylesheet">


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <!-- Materilize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--  Icons Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<script type="text/javascript" charset="utf-8" src="https://barra.to.gov.br/topo.js?k=85icqx"></script>

<body style="background-color: white">

<%= yield %>

<!-- Google Map Script -->
<script src="https://maps.google.com/maps/api/js?key=AIzaSyD6cxB4idvB67_Mz1ScQn-_nBJmltUaS-g"></script>
<script src="/area-pub/assets/js/googleMap.js"></script>

<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/area-pub/assets/js/jquery.bundle.js"></script>
<script src="/area-pub/assets/js/script.js"></script>
<!--<script src="/area-pub/assets/js/javascript-materialize.js"></script>-->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
<script type="text/javascript" charset="utf-8" src="https://barra.to.gov.br/base.js?k=85icqx"></script>
</html>